body {
    font-family: sans-serif;
    margin: 0;
    padding: 0.5em;

    background: #eee;
}

header {
    text-align: center;
    padding: 2em 0.2em 1em 0.2em;

    background: #eee;
}

header h1 {
    margin: 0 0 0.3em 0;
}

header p {
    margin: 0;
}


.graph {
    max-width: 82em;
    margin: 2em auto;
    padding: 1em;

    border-radius: 0.2em;
    background: #fff;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.graph h2 {
    font-weight: 400;
    font-size: 1.3em;
    text-align: center;

    margin: -1rem -1rem 1rem -1rem;
    padding: 1rem;
    border-bottom: 0.1rem solid #eee;
}


footer {
    margin: 2em 0.2em;
    text-align: center;
}


.button {
    background: #bf4d28;
    color: #fff;
    text-decoration: none;

    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 0.3em;

    transition: opacity 0.2s ease-out;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.5);
}

.button:hover {
    opacity: 0.9;
}
